@import "tailwindcss";

@theme {
  --color-primary: #D19789;
  --color-secondary: #95a799;
  --color-thirdary: #eee7df;
  --color-muted: #ece3db;
  --color-foreground: oklch(0.145 0 0);
  --font-sans: 'Montserrat', system-ui;
}

html, body {
  height: 100%;
  min-height: 100%;
  min-height: 100dvh;
}

@supports not (min-height: 100dvh) {
  html, body {
    min-height: -webkit-fill-available;
  }
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/montserrat-v31-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/montserrat-v31-latin-800.woff2') format('woff2');
}