---
import AboutBrief from "@/components/AboutBrief.astro";
import ContactSection from "@/components/ContactSection.astro";
import CTASection from "@/components/CTASection.astro";
import ExperiencesSection from "@/components/ExperiencesSection.astro";
import Footer from "@/components/Footer.astro";
import Hero from "@/components/Hero.astro";
import ProcessSection from "@/components/ProcessSection.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<div class="min-h-screen">
		<main>
			<Hero />
			<AboutBrief />
			<ExperiencesSection />
			<ProcessSection />
			<CTASection />
			<ContactSection />
		</main>
		<Footer />
	</div>
</Layout>
