---
import { Sparkles, Clock, Heart } from "@lucide/astro";

const features = [
    {
        icon: Sparkles,
        title: "Handpicking Experiences",
        description:
            "Carefully curating experiences that align with the traveler’s intentions and travel style.",
    },
    {
        icon: Clock,
        title: "Creating a Cohesive Journey",
        description:
            "Designing each trip to flow seamlessly as one intentional experience, rather than a series of disconnected activities.",
    },
    {
        icon: Heart,
        title: "Attention to Details",
        description:
            "Focusing on the little things,including a thoughtfully crafted itinerary, that transform a trip from a checklist into meaningful moments, lasting memories, and stories shared with loved ones.",
    },
];
---

<section class="py-20 bg-white">
    <div class="container mx-auto px-6">
        <div class="text-center max-w-3xl mx-auto mb-16">
            <h2 class="mb-6">Travel Planning, Reimagined</h2>
            <p class="text-xl text-muted-foreground">
                We go beyond researching logistics and <span
                    class="font-bold text-primary">destinations</span
                >. We thoughtfully curate meaningful, feel-good <span
                    class="font-bold text-primary">experiences</span
                >
                designed around what you truly need. Whether that’s discovering peaceful
                hidden gems, sinking into a <span class="font-bold text-primary"
                    >luxury spa weekend</span
                >, or saying yes to an adventure that lights you up. Every trip
                is planned with intention, balance, and care. Our services
                include:'
            </p>
        </div>

        <div class="grid md:grid-cols-3 gap-8 max-w-5xl mx-auto">
            {
                features.map((feature) => (
                    <div class="text-center p-8 rounded-2xl bg-linear-to-br from-primary/5 to-secondary/5 hover:shadow-xl transition-all hover:-translate-y-2 cursor-pointer">
                        <div class="w-16 h-16 bg-primary rounded-2xl flex items-center justify-center mx-auto mb-6 rotate-3 hover:rotate-0 transition-transform">
                            <feature.icon class="w-8 h-8 text-white" />
                        </div>
                        <h3 class="mb-3 font-bold text-primary">
                            {feature.title}
                        </h3>
                        <p class="text-muted-foreground">
                            {feature.description}
                        </p>
                    </div>
                ))
            }
        </div>
    </div>
</section>
