---
import { Users, Compass, Mountain, Plane, Heart, Camera } from "@lucide/astro";
const experiences = [
    {
        icon: Compass,
        title: "Intentional Escapes",
        description:
            "Trips thoughtfully designed around your needs, pace, and intentions.",
        color: "from-primary to-primary/80",
    },
    {
        icon: Heart,
        title: "Rest & Renewal",
        description:
            "Wellness getaways that prioritize relaxation, balance, and recharging.",
        color: "from-secondary to-secondary/80",
    },
    {
        icon: Users,
        title: "Family Connection",
        description:
            "Experiences crafted to nurture presence, togetherness, and shared memories.",
        color: "from-primary to-primary/80",
    },
    {
        icon: Mountain,
        title: "Gentle Adventure",
        description:
            "Exploration, nature, and movement that feel energizing, not overwhelming.",
        color: "from-secondary to-secondary/80",
    },
    {
        icon: Plane,
        title: "Mindful Escapes",
        description:
            "Experiences that invite reflection, mindfulness, and the deeper connection with yourself and your surroundings.",
        color: "from-primary to-primary/80",
    },
    {
        icon: Camera,
        title: "Cultural & Soulful Exploration",
        description:
            "Immersive experiences that inspire curiosity, connection, and meaningful engagement with local communities.",
        color: "from-secondary to-secondary/80",
    },
];
---

<section id="services" class="py-20 bg-muted">
    <div class="container mx-auto px-6">
        <div class="text-center mb-16">
            <h2 class="mb-4">Curated Experiences For Every Traveler</h2>
            <p class="text-xl text-muted-foreground max-w-2xl mx-auto">
                Here are some types of experiences we’re passionate about, for
                your inspiration:
            </p>
        </div>
        <div
            class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6 max-w-6xl mx-auto"
        >
            {
                experiences.map((exp) => (
                    <div class="flex flex-col justify-center items-center group text-center p-6 bg-white rounded-2xl hover:shadow-2xl transition-all hover:-translate-y-2">
                        <div
                            class={`bg-linear-to-br ${exp.color} w-16 h-16 rounded-2xl flex items-center justify-center mx-auto mb-4 group-hover:scale-110 transition-transform`}
                        >
                            <exp.icon class="w-8 h-8 text-white" />
                        </div>
                        <h4 class="text-sm">{exp.title}</h4>
                        <p class="text-xs text-muted-foreground mt-8">
                            {exp.description}
                        </p>
                    </div>
                ))
            }
        </div>
    </div>
</section>
