---
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";
import ProgressBar from "astro-vtbot/components/ProgressBar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/favicon.webp" />
		<title>Maps for mom - Your Dream Trip, Perfectly Planned</title>
		<meta
			name="og:title"
			content="Maps for mom - Your Dream Trip, Perfectly Planned"
		/>
		<meta
			name="description"
			content="Maps for mom - Your Dream Trip, Perfectly Planned"
		/>
		<meta name="og:image" content="/og.webp" />
		<meta
			name="og:description"
			content="Maps for mom - Your Dream Trip, Perfectly Planned"
		/>
		<meta property="og:site_name" content="Maps for mom" />
		<meta name="og:type" content="website" />
		<meta name="og:url" content="https://mapsformom.com/" />
		<meta
			property="twitter:description"
			content="Maps for mom - Your Dream Trip, Perfectly Planned"
		/>
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:image" content="/og.webp" />
		<meta name="twitter:title" content="Maps for mom" />
		<meta name="author" content="Jhossua Roa Rodriguez" />
		<meta name="robots" content="follow, index" />
		<meta name="theme-color" content="#FFFFFFF2" />
		<ClientRouter />
		<ProgressBar />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
	}
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: var(--font-sans);
		font-display: swap;
	}
</style>
